<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

    <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Candidate</h2>

    <nav class="navbar navbar-expand-lg navbar-light style='background-color: #e3f2fd;' rounded">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <button type="button" class="btn btn-outline-primary"> <a th:href="${'/candidate/list'}">List</a> </button>
                    <button type="button" class="btn btn-outline-primary"> <a th:href="${'/candidate/new'}">Add</a> </button>
                    <button type="button" class="btn btn-outline-primary"> <a th:href="${'/candidate/edit/' + candidate.id}">Edit</a> </button>
                </ul>
            </div>
        </div>
    </div>
    </nav>

    <div>
        <form class="form-horizontal">

            <div class="form-group row">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <p class="form-control-static" th:text="${candidate.name}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Affiliation:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <p class="form-control-static" th:text="${candidate.affiliation}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Race:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <p class="form-control-static" th:text="${candidate.race.name}"></p>
                </div>
            </div>

        </form>
    </div>
</div>

</body>
</html>