<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

    <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Race List</h2>

    <nav class="navbar navbar-expand-lg navbar-light style='background-color: #e3f2fd;' rounded">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <button type="button" class="btn btn-outline-primary" > <a th:href="${'/race/new'}">Add</a> </button>
                </ul>
            </div>
        </div>
    </div>
    </nav>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Candidates</th>
            <th>Voters</th>
            <th>Action</th>
        </tr>
        <!--suppress HtmlUnknownAttribute -->
        <tr th:each="race : ${races}">
            <!--suppress HtmlUnknownAttribute -->
            <td th:text="${race.name}"></td>
            <!--suppress HtmlUnknownAttribute -->
            <td th:text="${race.candidateCount}"></td>
            <!--suppress HtmlUnknownAttribute -->
            <td th:text="${race.voterCount}"></td>
            <td>
                <!--suppress HtmlUnknownAttribute -->
                <a th:href="${'/race/' + race.id}">Show</a>
                <!--suppress HtmlUnknownAttribute -->
                <a th:href="${'/race/edit/' + race.id}" >Edit</a>
                <!--suppress HtmlUnknownAttribute -->
                <a th:href="${'/race/delete/' + race.id}" >Delete</a>
            </td>
        </tr>
    </table>

</div>

</body>
</html>