<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head lang="en">

            <!--/*/ <th:block th:include="fragments/headerincl :: head"></th:block> /*/-->

            <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>

        </head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Rank</h2>
    <div>
        <!--suppress HtmlUnknownAttribute, HtmlUnknownAttribute -->
        <form th:object="${rank}" th:action="@{/rank/save}" method="post">

            <!--suppress HtmlUnknownAttribute -->
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group row">
                <label class="control-label">Voter:</label>
                <div>
                    <!--suppress HtmlUnknownAttribute -->
                    <select class="form-control" th:field="*{voter}">
                        <option th:each="voter : ${voters}"
                                th:value="${voter.id}"
                                th:text="${voter}"></option>
                    </select>
                    <div class="validation-error" th:if="${#fields.hasErrors('voter')}" th:errors="*{voter}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label">Candidate:</label>
                <div>
                    <!--suppress HtmlUnknownAttribute -->
                    <select class="form-control" th:field="*{candidate}">
                        <option th:each="candidate : ${candidates}"
                                th:value="${candidate.id}"
                                th:text="${candidate}"></option>
                    </select>
                    <div class="validation-error" th:if="${#fields.hasErrors('voter')}" th:errors="*{voter}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">Rank:</label>
                <div class="col-sm-10">
                    <!--suppress HtmlUnknownAttribute -->
                    <input type="text" class="form-control" th:field="*{rankValue}"/>
                    <div class="validation-error" th:if="${#fields.hasErrors('rankValue')}" th:errors="*{rankValue}"></div>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>


</title>
</head>
<body>

</body>
</html>